#s-ba07b52f-d037-4021-9c7e-000fea9eede3 > #backgroundBox {
  position: absolute;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 > #alignmentBox {
  position: relative;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Image_3 .imageViewport > * {
  width: 113.33333333333344%;
  height: 134.32098765432104%;
  left: -0.0%;
  top: -34.32098765432103%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Image_3 {
  position: absolute;
  width: 1920.0px;
  height: 1080.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_1 {
  position: absolute;
  width: 1200.0px;
  min-height: 130.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(207,227,225,0.75);
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_1 {
  position: absolute;
  width: 302.390625px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_1 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #999999;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Image_1 {
  position: absolute;
  width: 84.0px;
  height: 94.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  mix-blend-mode: overlay;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_2 span {
  color: #666666;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #666666;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_3 span {
  color: #666666;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #666666;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_4 span {
  color: #666666;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #666666;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_5 span {
  color: #666666;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #666666;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_6 span {
  color: #666666;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #666666;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_7 span {
  color: #666666;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #666666;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_8 span {
  color: #666666;
  text-align: left;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #666666;
  text-decoration: underline;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Image_2 {
  position: absolute;
  width: 84.0px;
  height: 94.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Content_grid_1 {
  position: absolute;
  width: 1080.0px;
  height: 60.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Content_grid_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(189,215,238,0.75);
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 {
  width: 14.285714285714285%;
  height: 100.0%;
  cursor: pointer;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 .Cell_1 > *:first-child {
  margin-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 .Cell_1 > *:last-child {
  margin-right: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 .Cell_1 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_1 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_9 {
  width: 40.01220703125px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Balloon_1.0.0_system',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_9 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_9 span {
  color: #008D7F;
  text-align: center;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #008D7F;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 .verticalalign {
  vertical-align: middle;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 {
  width: 14.285714285714285%;
  height: 100.0%;
  cursor: pointer;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #DEEBF7;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 .Cell_2 > *:first-child {
  margin-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 .Cell_2 > *:last-child {
  margin-right: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 .Cell_2 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_2 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_10 {
  width: 84.5244140625px;
  min-height: 34.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Balloon_1.0.0_system',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_10 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_10 span {
  color: #000000;
  text-align: center;
  text-decoration: underline;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #000000;
  text-decoration: underline;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 {
  width: 14.285714285714285%;
  height: 100.0%;
  cursor: pointer;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 .Cell_3 > *:first-child {
  margin-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 .Cell_3 > *:last-child {
  margin-right: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 .Cell_3 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_3 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_11 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Balloon_1.0.0_system',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_11 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_11 span {
  color: #008D7F;
  text-align: center;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #008D7F;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 .verticalalign {
  vertical-align: middle;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 {
  width: 14.285714285714285%;
  height: 100.0%;
  cursor: pointer;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 .Cell_4 > *:first-child {
  margin-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 .Cell_4 > *:last-child {
  margin-right: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 .Cell_4 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_4 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_12 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Balloon_1.0.0_system',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_12 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_12 span {
  color: #008D7F;
  text-align: center;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #008D7F;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 {
  width: 14.285714285714285%;
  height: 100.0%;
  cursor: pointer;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 .Cell_5 > *:first-child {
  margin-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 .Cell_5 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_13 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Balloon_1.0.0_system',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_13 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_13 span {
  color: #008D7F;
  text-align: center;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #008D7F;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 {
  width: 14.285714285714285%;
  height: 100.0%;
  cursor: pointer;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 .Cell_6 > *:first-child {
  margin-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 .Cell_6 > *:last-child {
  margin-right: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 .Cell_6 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_6 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_14 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Balloon_1.0.0_system',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_14 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_14 span {
  color: #008D7F;
  text-align: center;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #008D7F;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 {
  width: 14.285714285714285%;
  height: 100.0%;
  cursor: pointer;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 .Cell_7 > *:first-child {
  margin-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 .Cell_7 > *:last-child {
  margin-right: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 .Cell_7 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_15 {
  width: 123.53662109375px;
  min-height: 34.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Balloon_1.0.0_system',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_15 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_15 span {
  color: #008D7F;
  text-align: center;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #008D7F;
  text-decoration: none;
  font-family: 'Balloon_1.0.0_system',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_2 {
  position: absolute;
  width: 998.9999999999999px;
  min-height: 858.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(239,239,239,0.8);
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_16 {
  position: absolute;
  width: 410.0px;
  min-height: 140.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Asar_23.0.0_google',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Asar_23.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Asar_23.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Image_4 {
  position: absolute;
  width: 350.0px;
  height: 466.66666666666663px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_17 {
  position: absolute;
  width: 350.0000000000007px;
  min-height: 92.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Asar_23.0.0_google',Arial;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_17 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Asar_23.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Asar_23.0.0_google',Arial;
  font-size: 12.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 #s-Image_5 {
  position: absolute;
  width: 400.0px;
  height: 320.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ba07b52f-d037-4021-9c7e-000fea9eede3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}